@{
    string strTitle = "Your email is confirmed. Thank you.";
    string strDescription = "";
    ViewBag.Title = strTitle;
    ViewBag.Description = strDescription;
}

<div>
    <h2>@strTitle</h2>
</div>